div#onefile {
  height: 100px;
  width: 100%;
  background: #fbd266;
  animation: slidein 4s linear 4s infinite alternate;
}

div#twofile {
  height: 100px;
  width: 100%;
  background: #d76735;
  animation: slidein .3s linear 1s infinite alternate;
}

div#threefile {
  height: 100px;
  width: 100%;
  background: #8fb0a9;
  animation: pulse 3s ease infinite alternate, nudge 5s linear infinite alternate;
}

@keyframes slidein {
  from { transform: scaleX(0); }
  to   { transform: scaleX(1); }
} 